<!DOCTYPE html>
<html>
  <head>
    <title>AppleMusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--<p class="alert"><%= alert %></p>-->

    <div>
      <% if current_user %>
        Has iniciado sesión como <strong><%= current_user.email %></strong>!
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>

      <% end %>
    </div>

    <%= render '/partials/nav' %>
    <div class="container">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= flash[:notice] %></p>
      <% end %>
    </div>
    <div class="container">
      <% if flash[:alert] %>
        <p class="flash-notice"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
